.reset {
  text-align: center;
}

.reset-form {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 100px;
}
