<div class='container mdl-textfield mdl-js-textfield'>
  <div class="form-group">
    <input [(ngModel)]="good1" type="text" class='form-control'>
  </div>
  <div class="form-group">
    <input [(ngModel)]="good2" type="text" class='form-control'>
  </div>
  <div class="form-group">
    <input [(ngModel)]="good3" type="text" class='form-control'>
  </div>
  <div class="form-group">
    <label for="privacy">Privacy</label>
    <select id="privacy" class='form-control' (change)="setPrivacyLevel($event.target.value)">
      <option value="onlyMe" selected="selected">Only Me</option>
      <option value='onlyFriends'>Only Friends</option>
      <option value='anyone'>Anyone</option>
    </select>
  </div>
  <button class="center-block mdl-button mdl-js-button mdl-button--accent" (click)="makeDiary()" >Make Diary</button>
</div>
