.center {
  text-align: center;
}

.diary-result {
  text-align: center;
  margin-bottom: 5px;
  font-weight: 200;
}

.mdl-grid {
  justify-content: center;
}

.main-div {
  margin-right: 1%;
}

.card {
  width: 330px;
  height: 330px;
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
}

.mdl-card {
  margin-bottom: 5%;
}

.material-icons{ color: #ff99d4; }

.user-image {
  max-width: 330px;
  max-height: 330px;
  width: 100%;
  margin: auto;
  position: relative;
}

.edit-form {
    height: 330px;
}
