<div class="modal-dialog">
  <div class="loginmodal-container">
    <form>
      <h1>Login to Your Account</h1><br>
      <label for="email" type="email">Email</label>
      <input #email class="form-control">
      <label>Password</label>
      <input type="password" #password class="form-control"><br>
      <button class="btn btn-default" (click)="login(email.value, password.value)">Login</button>
      <a routerLink="reset_password">Forgot your password?</a>
      <div *ngIf="verifyRequired">
        <p class="error">Please verify your email</p>

        <div id="send" *ngIf="!isSent">
          <p (click)="sendVerifyEmail(email.value, password.value)">send me again</p>
        </div>
        <div id="sent" *ngIf="isSent">
          <p>sent</p>
        </div>
      </div>
    </form>
  </div>
</div>
