<div class="modal-dialog login-form">
  <div class="loginmodal-container">
      <h1>Login to Your Account</h1><br>
      <label for="email">Email</label>
      <input #email  type="email" class="form-control">
      <label>Password</label>
      <input type="password" #password class="form-control" (keyup.enter)="login(email.value, password.value)"><br>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" (click)="login(email.value, password.value)">Login</button>
      <a class='forgot' routerLink="reset_password">Forgot your password?</a>
      <div *ngIf="verifyRequired">
        <p class="error">Please verify your email</p>
        <div id="send" *ngIf="!isSent">
          <p (click)="sendVerifyEmail(email.value, password.value)">send me again</p>
        </div>
        <div id="sent" *ngIf="isSent">
          <p>sent</p>
        </div>
      </div>
  </div>
</div>
