<div *ngIf='!isChangePasswordFormOpened'>
  <div class="modal-dialog login-form">
    <div class="loginmodal-container">
      <h1>Please confirm your account</h1><br>
      <label for="email">Email</label>
      <input #email  type="email" class="form-control">
      <label>Password</label>
      <input type="password" #password class="form-control" (keyup.enter)="confirm(email.value, password.value)"><br><br>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" (click)="confirm(email.value, password.value)">Confirm</button>
    </div>
  </div>
</div>

<div *ngIf='isChangePasswordFormOpened'>
  <div class="form-group">
    <label for="password">Password</label>
    <input  type="password" id='password' class="form-control" [(ngModel)]="newPassword" name="newPassword" [class.isPasswordLength]="isPasswordLength" [class.isNotPasswordLength]="!isPasswordLength" required><br>
  </div>
  <div class="form-group">
    <label for="confirmPassword">Confirm Password</label>
    <input  type="password" id='confirmPassword' class="form-control" [class.confirmPassword]="isPasswordMatch" [class.notConfirmPassword]="!isPasswordMatch" [(ngModel)]="confirmPassword" name="confirmPassword" required><br>
  </div>
  <br>
  <button (click)="updatePassword()" class='btn btn-success btn-block'>Update</button>
</div>
