<h2 class='header'>Past Diaries</h2>
<div class="mdl-textfield mdl-js-textfield">
  <div *ngIf="myAllDiaries">
      <div *ngFor="let myAllDiariesByYear of myAllDiaries">
        <ul>
          <li class='year'>{{myAllDiariesByYear.$key}}:</li>
          <div *ngFor="let month of myAllDiariesByYear | keys">
            <ul>
              <li><a class='month' routerLink="{{myAllDiariesByYear.$key}}/{{month}}">{{month | monthNumberToWord:monthNumber}}</a></li>
            </ul>
          </div>
        </ul>
      </div>
  </div>
</div>
