img#background {
  min-height: 100%;
  min-width: 1920px;

  width: 100%;
  height: auto;

  position: fixed;
  top: 0px;
  right: 0px;
  bottom:0px;
  left: 0px;

  -webkit-filter: opacity(.5);
  filter: opacity(.5);
  z-index: -1;
}

.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('https://getmdl.io/assets/demos/welcome_card.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.header {
  text-align: center;
  font-weight: 200;
}

.year {
  font-size: 1.5rem;
  font-weight: bold;
  list-style: none;
}

.month {
  list-style: none;
}

.diary-list {
  display:block;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  opacity:0.8;
}
