.change-name-form {
  display:block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.search-keyword {
  color:blue;
  margin: 10px;
}

.info-message {
  font-size: 1.2rem;
  color:#f442e5;
}
