  <img src='/../../assets/background/garden.jpg' id='background' alt='garden-pic'/>
  <h3 class='welcome-sign'>Hello, {{(user | async)?.firstName}} <br>
  <p class="welcome-sign">Today is {{today | date}}</p>
  <div class='container'>
    <p id='write-good'>Write Three Good things</p>
      <button *ngIf='!isDiaryFormOpened' class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" (click)="showDiaryForm()">Make Diary</button>
    <div *ngIf='isDiaryFormOpened'>
      <app-create-diary></app-create-diary>
    </div>
  </div>
  <app-recent-diaries></app-recent-diaries>
