<h2 class='find-friends-header'>Find Friends</h2>
<div class='mdl-textfield find-friends-menu'>
  <div class="find-friends-form">
    <div class="form-group">
      <label for="friendSearchKeyword">Search </label>
      <input  type="text" id="friendSearchKeyword" class="form-control" [(ngModel)]="friendSearchKeyword" name="friendSearchKeyword" placeholder="Type frined's search keyword"><br>
    </div>
  </div>
  <div class='mdl-grid'>
    <button (click)="searchFriend()" class='btn btn-success btn-block'>Search</button>
  </div>
  {{displayError}}
  <div *ngIf="friendName">
    {{friendName}} <button (click)="sendFriendRequest()">Send Friend Request</button>
  </div>
  {{friendId}}
</div>


<div class='mdl-textfield find-friends-menu'>
  Friends Confirmation Waiting
  <div *ngIf="waitingList | async">
    <div *ngFor="let waiting of waitingList | async">
      {{waiting.name}}<button (click)="updateFriendRequest(waiting, 'true')">Accept</button><button (click)="updateFriendRequest(waiting, 'false')">Decline</button>
    </div>
  </div>
</div>

<div class='mdl-textfield find-friends-menu'>
  Sent Requests
  <div *ngIf="sentList | async">
    <div *ngFor="let sent of sentList | async">
      {{sent.name}} <button (click)="cancelFriendRequest(sent)">Cancel</button>
    </div>
  </div>
</div>
