<h2 class='find-friends-header'>Find Friends</h2>
<div class='mdl-textfield find-friends-menu'>
  <div class="find-friends-form">
    <div class="form-group">
      <label for="friendSearchKeyword">Search </label>
      <input  type="text" id="friendSearchKeyword" class="form-control" [(ngModel)]="friendSearchKeyword" name="friendSearchKeyword" placeholder="Type frined's search keyword"><br>
    </div>
  </div>
  <div class='mdl-grid'>
    <button (click)="searchFriend()" class='btn btn-success btn-block'>Search</button>
  </div>
  {{displayError}}
  <div *ngIf="friendName">
    {{friendName}}
    <div *ngIf="notFriend">
      <button (click)="sendFriendRequest()">Send Friend Request</button>
    </div>
  </div>
  all friends
  {{allFriendsList}}

</div>


<div class='mdl-textfield find-friends-menu'>
  Friends Confirmation Waiting
  <div *ngIf="waitingList">
    <div *ngFor="let result of (waitingList | confirmWaiting: value : userId)">
      {{result[5].$value}}
      <button (click)="acceptFriendRequest(result)">Accept</button>
      <button (click)="cancelFriendRequest(result)">Decline</button>
    </div>
  </div>
</div>

<div class='mdl-textfield find-friends-menu'>
  Sent Requests
  <div *ngIf="waitingList">
    <div *ngFor="let result of (waitingList | sentRequests: value : userId)">
      {{result[2].$value}} <button (click)="cancelFriendRequest(result)">Cancel</button>
    </div>
  </div>
</div>
