/* You can add global styles to this file, and also import other style files */
img.background {
  min-height: 100%;
  min-width: 1920px;

  width: 100%;
  height: auto;

  position: fixed;
  top: 0px;
  right: 0px;
  bottom:0px;
  left: 0px;

  -webkit-filter: opacity(.5);
  filter: opacity(.5);
  z-index: -1;
}
