.friends-diary-header {
  text-align: center;
}

.friends-diary-list {
  display:block;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  box-shadow: 2px 2px 2px 2px gray;
  opacity:0.8;
  text-align: center;
}
