<h2 class='setting-header'>Setting</h2>
<div class='mdl-textfield setting-menu'>
  <div *ngIf="message">
    {{message}}
  </div>
  <div>
    <p (click)="toggleProfileSetting()">Profile Setting</p>


    <p (click)="toggleAccountSetting()">Account Setting</p>
    <div *ngIf='isProfileSettingOpened'>
      <app-change-name (messageSender)="setMessage($event)"></app-change-name>
    </div>


    <div *ngIf='isAccountSettingOpened'>
      <p (click)="toggleConfirmPasswordForm()">Change Password</p>
      <div *ngIf="isConfirmPasswordFormOpened">
        <app-change-password (messageSender)="setMessage($event)"></app-change-password>
      </div>


      <p (click)="toggleDeleteAccountForm()">Delete Account</p>
      <div *ngIf='isDeleteAccountFormOpened'>
        <app-delete-account></app-delete-account>
      </div>
    </div> <!-- End of isAccountSettingOpened -->
  </div>

</div>


<!-- TODO: add searchkeyword functionallity -->
<!-- <div class="form-group">
<label for="searchKeyword">Search Keyword (optional)</label>
<input  type="text" id="searchKeyword" class="form-control" [(ngModel)]="searchKeyword" name="searchKeyword"><br>
</div> -->
